<div id="overlay">
    <app-top-banner [title]='title'></app-top-banner>
    <div style="padding: 20px;">
        <div class="row">
            <h2 class="col-xl-9 col-md-9 col-sm-12 mb-9">{{requirement}}</h2>
            <div class=" col-xl-3 col-md-3 col-sm-3 mb-3">
                <a href="assets/documents/DSIPL - MANN - 8.5 - 01 - 01 - APPLICATION FORM.xls">
                    <button type="button" style="width: 100%;" class="btn btn-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" 
                    data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-bs-original-title="Popover Title">Download Application Form</button> 
                </a>
                <small id="emailHelp" class="form-text text-muted">Download the Application Form, fill and upload it here.</small>
            </div>           
        </div>

        <form>
            <fieldset>
                <div>
                    <label for="exampleSelect1" class="form-label mt-4">Positions</label>
                    <select class="form-select" id="exampleSelect1">
                        <option *ngFor="let job of jobList" >{{job.rank}}</option>
                    </select>
                </div>
                <div [ngClass]="isNameValid?'has-success':'has-danger'">
                    <label for="exampleInputEmail1" class="form-label mt-4">Name</label>
                    <input type="text" [ngClass]="isNameValid? 'is-valid' : 'form-control'" class="form-control" placeholder="Full Name" />
                    <div *ngIf="isNameValid" [ngClass]="isNameValid?'valid-feedback':'invalid-feedback'" class="valid-feedback">Success! You've done it.</div>
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label mt-4">Address</label>
                    <textarea type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address" rows="3"></textarea>
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label mt-4">Mobile</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mobile" />
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label mt-4">Availability</label>
                    <input type="text" class="form-control" placeholder="Availability"/>
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label mt-4">Nationality</label>
                    <input type="text" class="form-control" placeholder="Nationality"/>
                </div>
                <div style="margin-bottom: 20px;">
                    <label for="formFile" class="form-label mt-4">Upload Form</label>
                    <input class="form-control" type="file" id="formFile" accept=".xls">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
        
        <br><br><br><br>

    </div>
</div>