.three-container{
  width:100%;
  height:100vh;
  overflow:hidden;
}

@font-face {
    font-family: 'B074000D'; /* Choose a name for your font */
    src: url('../../../assets/font/B074000D.TTF') format('truetype'); /* Specify the path and format */
    /* Optional: define font-weight and font-style if you have multiple files for different styles */
    font-weight: normal;
    font-style: normal;
}/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100dvh;
  margin: 0;
  overflow: hidden;   /* ✅ correct value */
}
body{
  /* background-image: url('/img/gp.jpg'); */
  /* background-color: #F4DB04; */
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

#overlay {
  position: absolute;
  inset: 0;                 /* top:0 right:0 bottom:0 left:0 */   
  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertical center */
  align-items: center;      /* horizontal center */
  text-align: center;
}

#logo {
  font-family: 'B074000D', serif;
  color: #FFFFFF;
  font-size: 5dvh;
}

@media screen and (min-width: 768px) {
  #logo {
      width: fit-content; /* Full width on small screens */ 
      margin-top:0%;
  }

}

/* Styles for screens larger than or equal to 768px (e.g., tablets and desktops) */
@media screen and (min-width: 1200px) {
  /* body{
      background-image: url('/img/damico-image-bridge-ok.jpg');
      background-size: cover;
  } */

  #logo {
      width: 100%; /* Fixed width on large screens */
      margin-top:0%;
      margin: auto;
      min-height: auto;		
  }

}