
.canvas-container{
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
}

canvas{
  width:100%;
  height:100%;
  display:block;
}

#overlay{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  pointer-events: auto;
  padding-bottom: 100px;
}

.section {
  position: absolute;
  display: block;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  overflow-y: auto;
  /* padding: 20px; */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.section.active {
  opacity: 1;
  pointer-events: auto;
}

.container {
  display: flex;
  justify-content: flex-end; /* Aligns content to the right */
}


@font-face {
    font-family: 'B074000D'; /* Choose a name for your font */
    src: url('../../../assets/font/dune_rise/Dune_Rise.ttf') format('truetype'); /* Specify the path and format */
    /* Optional: define font-weight and font-style if you have multiple files for different styles */
    font-weight: normal;
    font-style: normal;
}/* You can add global styles to this file, and also import other style files */


#title {
  font-family: 'B074000D', serif;
}