#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.column-event{
    position: relative;
    width: 33.33%;
    margin: 0px;
}

@media screen and (min-width: 308px) {
    .column-event {
        float: left;
        width: 100%;
    }

    .column-event .text-block {
        font-size: 2dvw;
    }
}

@media screen and (min-width: 768px) {
    .column-event {
        float: left;
        width: 50%;
    }
    .column-event .text-block {
        font-size: 1dvw;
    }
}

@media screen and (min-width: 1200px) {
    .column-event {
        float: left;
        width: 33.33%;
    }
    .column-event .text-block {
        font-size: 1dvw;
    }
}

    .column-event img{
        width: 100%;
        height: 100%;
    }

    .column-event h1{
        color: white;
    }
    
    .column-event .text-block {
        position: absolute; /* Position the background text */
        bottom: 0; /* At the bottom. Use top:0 to append it to the top */
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1; /* Grey text */
        width: 98%; /* Full width */
        padding: 10px; /* Some padding */
    }

    div.gallery {
    border: 1px solid #ccc;
    }

    div.gallery:hover {
    border: 1px solid #777;
    }

    div.gallery img {
    width: 100%;
    height: auto;
    }

    div.desc {
    padding: 15px;
    text-align: center;
    }

    * {
    box-sizing: border-box;
    }

    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
        margin: 7px;
    }

    @media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    }

    @media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }