
html {
  height: 100%;
  overflow: none;   /* 🔥 MOST IMPORTANT */
}

body {
  font-family: inherit;
  height: 100%;
  margin: 0;
  overflow: none;
  position: fixed;     /* ✅ kills page scrolling completely */
  width: 100%;
}
